.header__search {
    width: 58%;
    height: 40px;
    margin: 20px 0;
    padding: 0;
    border: 1px solid #EBEBF1;
    border-radius: 5px;
}

.header__search::placeholder {
    padding-left: 39px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    background-image: url('../../../images/search-icon.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 14px 50% ;
}

@media screen and (max-width: 430px) {
    .header__search { 
    width: 100%;
    border-left: 0;
    border-right: 0;
    margin: 18px 0 0;
 }
 }